body { margin: 60px auto; width: 100%; }

.main_page
{
    margin: 7% 10% 60px;
}

.research
{
    margin: 7% 10% 60px;
}

a { text-decoration: none; color: #999; }

p, ul {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.2em;
    color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2em;  }
h2 { font-size: 1.7em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }

.nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav ul {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    padding-left: 10%;
    list-style: none;
    background-image: linear-gradient(#3D3D3D, #262626);
    border-top: 3px solid maroon;
    border-bottom: 3px solid maroon;
}

.nav ul li a#name
{
    font-size: 1.1em;
    font-weight: none;
    color: whitesmoke;
    padding-right: 20px;
    border-right: 1px solid #696969;
}

.nav ul li {
    display: inline;
}

.nav ul li a:not(#name) {
    color: #696969;
    text-decoration: none;
    margin-left: 15px;
}

.nav ul li a:hover
{
    color: #A9A9A9
}

.nav ul li a#current
{
    color: white;
}
/* Blog */
ul.research { margin: 20px auto 40px; font-size: 1em; }
ul.research li { list-style: none; }

/* CV */
.cv { margin: 7% 10% 60px; }
.cv h1 { font-size: 2em; }
.cv h2 { font-size: 1.7em; }
.cv a { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1em; }
.cv .download { float: right; font-size: 1em; text-transform: uppercase; }



