---
layout: default
title: About Logan Frank
---

		<div class="about">
			<h1>About</h1>
			<p>This is where I will insert an about me</p>
			<ul class="contacts">
				<li><a href="#">@TwitterHandle</a></li>
				<li><a href="#">Your Departmental Webpage</a></li>
				<li><a href="#">Another site you want to link to</a></li>
				</ul>
		</div>
