<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">  
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/" id="name">Logan Frank</a></li>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/research">Research</a></li>
	<li><a href="/cv">CV</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>

